/* General Styles for About Us Page */

.aboutUsPage {
  color: #fff;
}

h1 {
  margin-bottom: 1%;
}

/* Responsiveness */
/* @media (max-width: 768px) {
  .about_us_page h1 {
    font-size: 60px;
  }

  .about_us_header .video-container .title {
    font-size: 32px;
  }

  .about_us_header .video-container .text {
    font-size: 14px;
  }
} */


.aboutusdescription {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3vh;
  font-size: x-large;
}

.aboutustitre {
  margin-top: 3vh;
}

.about_us_content{
  margin-bottom: 5vh;
}