/* General Styles for About Us Page */

.aboutUsPage {
  color: #fff;
  width: 100%;
}

h1 {
  margin-bottom: 1%;
}

.instagram-component{
  margin: 0 auto;
  max-width: 95%;
}

/* Responsiveness */
  @media (max-width: 768px) {
    .instagram-component{
      margin: 0 auto;
      max-width: 60%;
    }

}


.aboutusdescription {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 3vh;
  font-size: x-large;
}

.aboutustitre {
  margin-top: 3vh;
}

.about_us_content{
  margin-bottom: 5vh;
}