.contactPage .title p {
  padding-top: 10vh;
  color: white;
  font-size: 11em;
}

form {
  color: white;
  justify-content: center;
  margin-bottom: 6vh;
}

.form-group {
  width: 50%;
  margin: 0 auto;
  margin-top: 1vh;
}


form button {
  margin-top: 3vh;
  padding: .8vw .8vh .8vw .8vh;
  background-color: rgb(255, 255, 255);
  color: #0D0D0D;
  text-transform: uppercase; /* Met le texte en majuscules */
  width: 20%;
  border-radius: 2.604vw;
  display: inline-block;
  border: 0;
}

.contactPage button:hover {
  background-color: rgb(130, 130, 130);
  transition: 0.35s ease-in-out;
}

 .contactPage .form-control {
  border-radius: 0%;
}

.container-contact {
  margin-top: 3vh;
  display: flex;
}
.contact-form-part {
  width: 50%;
  margin: 0 auto;
}

.social-network-part {
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}
.social-network-part img {
  width: 5%;
}

.contactPage .banner {
  position: relative;
  display: inline-block;
}

.contactPage .banner img {
  width: 100%;      /* L'image prend 100% de la largeur du conteneur */
  object-fit: cover; /* Ajuste le contenu de l'image pour qu'elle remplisse l'espace sans déformation */
  filter: brightness(70%);
}

.contactPage .banner h1 {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: white;
}