.contactPage .title p {
  padding-top: 10vh;
  color: white;
  font-size: 11em;
}

form {
  color: white;
  justify-content: center;
  margin-bottom: 6vh;
}

.form-group {
  width: 50%;
  margin: 0 auto;
  margin-top: 1vh;
}


form button {
  margin-top: 3vh;
  padding: .8vw .8vh .8vw .8vh;
  background-color: rgb(255, 255, 255);
  color: #0D0D0D;
  text-transform: uppercase; /* Met le texte en majuscules */
  border-radius: 1.0vw;
  display: inline-block;
  border: 0;
}

.contactPage button:hover {
  background-color: rgb(130, 130, 130);
  transition: 0.35s ease-in-out;
}

 .contactPage .form-control {
  border-radius: 0%;
}

.container-contact {
  margin-top: 3vh;
  display: flex;
}
.contact-form-part {
  width: 50%;
  margin: 0 auto;
}

.social-network-part {
  display: flex; /* Active le modèle Flexbox */
  flex-direction: column; /* Arrange les enfants verticalement */
  width: 50%; /* Largeur du conteneur */
  margin: 0 auto; /* Centrage horizontal */
  align-items: center; /* Centre horizontalement les enfants */
}

.social-image {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Centre les images horizontalement */
  align-items: center; /* Centre les images verticalement */
  gap: 4vw; /* Espacement entre les images */
  width: 100%; /* Les images occupent toute la largeur disponible */
  margin-bottom: 3vh;
}

.social-image img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.footer-social {
  width: 100%; /* Occupe toute la largeur du conteneur parent */
  text-align: center; /* Centre le texte */
  margin-top: 10px; /* Espacement entre les images et le footer */
  color: white;
}

.footer-social h3 {
  margin-top: 2vh;
}

@media (max-width: 767px) { 
  .social-network-part {
    display: none;
  }
  .contact-form-part {
    width: 90%;
    margin: 0 auto;
  }
}