/* Employee Styles */
.employee {
  width: 33%;
}

.employee img {
  width: 75%;
  margin-bottom: 2vh;
}

.social-network {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.social-network img{
  width: 50px;
}

.social-network img:hover{
  transform: scale(1.1);
  transition: 0.35s ease-in-out;
  }

/* Employees List Styles */
.employees-list {
  display: flex;
  flex-wrap: wrap; /* Garde cette propriété pour les éléments qui se chevauchent */
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center; /* Centre verticalement les éléments (si la hauteur est définie) */
  /* Optionnel : vous pouvez définir une hauteur si nécessaire */
  height: 80vh; /* Ajustez cette valeur selon vos besoins */
}
