/* Employee Styles */
.employee {
  width: 33%;
  margin-top: 3vh;
}

.employee img {
  width: 75%;
  margin-bottom: 2vh;
}

.social-network {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 45px;
}

.social-network img{
  width: 2vw;
}

.social-network img:hover{
  transform: scale(1.1);
  transition: 0.35s ease-in-out;
  }

/* Employees List Styles */
.employees-list {
  display: flex;
  flex-wrap: wrap; /* Garde cette propriété pour les éléments qui se chevauchent */
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center; /* Centre verticalement les éléments (si la hauteur est définie) */
}

@media (max-width: 767px) {
  .employee {
    width: 66%;
    margin-top: 5vh;
  }
  .social-network img{
    width: 6vw;
  }

  .employee {
    width: 66%;
  }

}
