footer {
  background-color: #0D0D0D;
  color: #fff;
  width: 100%;
  border-top: 1px solid #444;
  margin-top: 4%;
}

footer .reseaux {
  margin-top: 2vh;
  display: flex;
  gap: 3vw;
  text-align: center;
  justify-content: center; /* centre horizontalement */

}


.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  padding-top: 1vh;
  margin: 0 auto; /* Centre le conteneur .footer-content */
  padding-bottom: 1.5vh;
}

.footer-column {
  width: 33.3%;
}

.footer-column p{
  line-height: 3.5vh;
}

.footer-column #footer-supernova-white {
  width: 45%;
}
.footer-copyright {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.footer-copyright p {
font-size: .8em;
}

.first-line p {
  font-weight: bold;
  text-align: left;
}

.other-line p {
  text-align: left;
}

footer a {
  color: inherit; /* Make the text color inherit from the parent */
  text-decoration: none;
}


/* Media Queries */

/* For tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-column {
    width: 45%;
    margin-bottom: 20px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1440px) {

  .footer-column {
    font-size: 0.8rem;
  }
}

/* For mobile phones */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .footer-column {
    width: 100%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .reseaux a {
    margin: 0 5px;
  }

  .footer-copyright {
    font-size: 12px;
  }

  .first-line p, .other-line p {
    text-align: center;
  }

  .footer-column #footer-supernova-white {
    width: 70%;
  }

  footer .reseaux img {
    width: 75%;
  }
}


footer p {
  margin: 0;
}

.footer-column {
  line-height: 3vh;
}

.footer-column a {
  text-transform: uppercase;
}
