* {
  box-sizing: border-box;
}
.text {
  cursor: pointer; /* Ajoutez ceci si ce n'est pas déjà fait */
  text-decoration: none;

}

.home-page a {
  letter-spacing: .3rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.home-page {
  overflow: hidden;
}

#mns_id_mv {
  position: relative;
}

#mns_id_set1 {
  position: relative;
  top: 2.604vw;
}

#mns_id_set1_ops {
  position: relative;
  top: 26.042vw;
}

#mns_id_set2 {
  position: relative;
  top: 5.208vw;
}

#mns_id_set2_ops {
  position: relative;
  top: 20.833vw;
}

#mns_id_set6 {
  position: relative;
  top: 0;
}

#mns_id_set6_ops {
  position: relative;
  top: 26.042vw;
}

#mns_id_set5 {
  position: relative;
  top: 7.813vw;
}


#mns_id_set5_ops {
  position: relative;
  top: 41.667vw;
}

#mns_id_set4 {
  position: relative;
  top: 15.625vw;
}

#mns_id_set4_ops {
  position: relative;
  top: 31.25vw;
}


#mns_id_set7 {
  position: relative;
  top: 18.229vw;
}

#mns_id_set7_ops {
  position: relative;
  top: 33.854vw;
}

#mns_id_set3 {
  position: relative;
  top: 20.833vw;
}

#mns_id_set3_ops {
  position: relative;
  top: 44.271vw;
}

.mn_screen {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 50;
  width: 100%;
}
.mn_screen .intro {
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: hidden;
}
.mn_screen .intro_hold {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 81.979vw;
  height: 40.208vw;
  margin: auto;
}

.mn_screen .intro_hold .intro_img {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  clip-path: inset(100% 100% 100% 100%);
  transform: scale(1.8);
}
.mn_screen .intro_hold .intro_img.intro_img01 {
  top: 15.76vw;
  left: 18.615vw;
  width: 22.969vw;
  height: 16.563vw;
  z-index: 60;
}

.mn_screen .intro_hold .intro_img.intro_img02 {
  top: 5.781vw;
  left: 31.479vw;
  width: 13.958vw;
  height: 8.75vw;
  z-index: 20;
}

.mn_screen .intro_hold .intro_img.intro_img03 {
  top: 12.167vw;
  left: 36.844vw;
  width: 16.51vw;
  height: 23.542vw;
  z-index: 10;
}

.mn_screen .intro_hold .intro_img.intro_img04 {
  top: 31.198vw;
  left: 38.458vw;
  width: 24.948vw;
  height: 13.073vw;
  z-index: 50;
}

.mn_screen .intro_hold .intro_img.intro_img05 {
  top: 4.104vw;
  left: 50.99vw;
  width: 22.552vw;
  height: 14.271vw;
  z-index: 30;
}
.mn_screen .intro_hold .intro_img.intro_img06 {
  top: 26.073vw;
  left: 56.74vw;
  width: 21.979vw;
  height: 13.958vw;
  z-index: 70;
}

.mn_screen .intro_hold .intro_img.intro_img07 {
  top: 12.323vw;
  left: 52.156vw;
  width: 17.031vw;
  height: 18.229vw;
  z-index: 10;
  opacity: 1;
}

.mn_screen .intro_hold .intro_img .intro_img_hold {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.mn_screen .intro_hold .intro_img .intro_img_hold img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.mn_screen .ms_txt {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 2.083vw;
  opacity: 0;
  transform: translateY(1.302vw);
  z-index: 80;
}

.mn_screen .ms_txt p {
  color: rgba(169, 171, 181, 0.9);
  font: 300 0.99vw/0.99vw ;
}
@media (max-width: 1280px) {
  .mn_screen .ms_txt p {
    font: normal 0.938vw/0.938vw Atyp;
  }
}
@media (max-width: 1024px) {
  .mn_screen .ms_txt p {
    font: normal 1.172vw/1.172vw Atyp;
  }
}


#c {
  position: absolute;
  z-index: 99999;
  left: -3.229vw;
  top: -3.229vw;
  width: 6.458vw;
  height: 6.458vw;
  pointer-events: none;
  will-change: transform;
  overflow: hidden;
}

#c.ccr .cc_out {
  transform: scale(1);
  transition: 0.35s ease-in-out;
}
#c .cc_out {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: #494A4F;
  transition: 0.35s ease-in-out;
  border-radius: 100%;
  transform-origin: center;
  z-index: 10;
  overflow: hidden;
}
#c .cc_out .desc {
  position: relative;
  width: 100%;
  height: 100%;
}
#c .cc_out .desc .ccri {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 30;
  width: 1.094vw;
  height: 0.365vw;
}


.contact-link {
  color: #0D0D0D;
  background-color: rgb(221, 221, 221);
  border-radius: 35px;
  padding: 12px 24px; /* Padding adaptable de base */
  display: inline-block;
  margin-bottom: 4vh;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition ajoutée */
  text-transform: uppercase; /* Met le texte en majuscules */
}

.contact-link:hover {
  background-color: rgb(255, 255, 255);

}

.view-all-link {
  background-color: #0D0D0D;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 24px; /* Padding adaptable de base */
  border-radius: 35px;
  margin-bottom: 4vh;
  border: 0;
  transition: background-color 0.3s ease; /* Transition ajoutée */
}

.section-1 {
  text-align: center; /* Centre le contenu de la section */
  background-color: #ccc; /* Fond gris clair */
  color: black;
}


.view-all-link:hover {
  background-color: #323232
}


.logo img {
  width: 100%;
  height: 100%;
  max-height: 15vh;
  object-fit: contain; /* Pour conserver les proportions du logo */
}

.section-2 {
  color: #fff;
  margin: 0 auto;
}

h3 {
  padding-top: 5vh;
  margin-top: 20vh;
}
.logo {
  display: inline-block;
  padding-bottom: 1%;
  width: 400px; /* Ajustez la largeur selon vos besoins */
}

.logo-img {
  width: 100%;
  height: 75px;
  margin: 0 auto;
}

.logo img {
  filter: grayscale(1);
  padding-left: 200px;

}

.client {
  background-color: #ccc; /* Fond gris clair */
  color: black;
  padding-bottom: 4vh;
}

.client h3 {
  margin-bottom: 4vh;
}

button {
  margin-bottom: 20vh;
}

.h2g #supernova-white,
.h2g #supernova-stars {
  z-index: 100;
  width: 70%;
  }

  .h2g img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}




/* Pour les écrans d'ordinateur de bureau (>= 1200px) */
@media (min-width: 1442px) and (max-width: 1600px) {

  /* .section-1 {
    height: 100vh;
  } */

}


@media (min-width: 1200px) and (max-width: 1441px) {
  /* .section-1 {
    height: 75vh;
  } */

}


/* Pour les ordinateurs portables (entre 992px et 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Pour les tablettes (entre 768px et 991px) */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Pour les téléphones (moins de 768px) */

@media (max-width: 767px) {

  .section-2 h3 {
    padding-top: 2vh;
  }

  .section-2 {
    width: 85%;
  }

  .section-2  p {
    text-align: justify;
  }

  #mns_id_set1 {
    top: 0;
  }

  #mns_id_set1_ops {
    top: 200px;
  }

  #mns_id_set2 {
    top: 25px;
  }

  #mns_id_set2_ops {
    top: 400px;
  }

  #mns_id_set6 {
    top: 50px;
  }

  #mns_id_set6_ops {
    top: 250px;
  }
  .mn_screen .intro_hold .intro_img.intro_img05 {
    display: none;
  }

  .mn_screen .intro_hold .intro_img.intro_img06 {
    width: 131px;
    height: 131px;
    top: 188px;
    left: 224px;
  }

  .mn_screen .intro_hold .intro_img.intro_img06 img {
    object-position: 0;
  }
  .mn_screen .intro_hold .intro_img.intro_img07 {
    width: 146px;
    height: 192px;
    top: 48px;
    left: 188px;
  }
  .mn_screen .intro_hold .intro_img.intro_img07 img {
    object-position: 0;
  }
  .mn_screen .intro_hold_h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    top: -11px;
    z-index: 80;
    width: 100%;
  }

  .mn_screen .ms_txt {
    bottom: 120px;
    transform: translateY(25px);
  }
  .mn_screen .ms_txt p {
    font: normal 15px/15px Atyp;
  }
  #c {
    display: none;
  }

  #mns_id_set4_ops {
    top: 650px;
  }
  #mns_id_set7 {
    top: 75px;
  }
  #mns_id_set7_ops {
    top: 450px;
  }
  #mns_id_set3_ops {
    top: 700px;
  }
  #mns_id_set3 {
    top: 100px;
  }
  .mn_screen .intro_hold {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 460px;
    width: 360px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  #mns_id_set5 {
    display: none;
  }
  #mns_id_set5_ops {
    display: none;
  }
  #mns_id_set4 {
    top: 50px;
  }

  .mn_screen .intro_hold .intro_img.intro_img01 img {
    object-position: 0;
  }
  .mn_screen .intro_hold .intro_img.intro_img01 {
    width: 131px;
    height: 156px;
    top: 155px;
    left: 3px;
  }
  .mn_screen .intro_hold .intro_img.intro_img02 {
    width: 111px;
    height: 106px;
    top: 0;
    left: 53px;
  }

  .mn_screen .intro_hold .intro_img.intro_img02 img {
    object-position: 0;
  }
  .mn_screen .intro_hold .intro_img.intro_img03 {
    width: 223px;
    height: 318px;
    top: 75px;
    left: 82px;
  }
  .mn_screen .intro_hold .intro_img.intro_img03 img {
    object-position: 0;
  }

  .mn_screen .intro_hold .intro_img.intro_img04 {
    width: 153px;
    height: 119px;
    top: 335px;
    left: 183px;
  }

  .mn_screen .intro_hold .intro_img.intro_img04 img {
    object-position: 100%;
  }

}

