/* CSS pour la page ProjectDetail */
.project-detail .banner {
  position: relative;
  display: inline-block;
}

.project-detail .banner img {
  width: 100%;      /* L'image prend 100% de la largeur du conteneur */
  object-fit: cover; /* Ajuste le contenu de l'image pour qu'elle remplisse l'espace sans déformation */
  filter: brightness(70%);
}

.project-detail .banner h1 {
  position: absolute;
  bottom: 25%;
  left: 15%;
  color: white;
}

.project-detail .nav-tabs {
  border-bottom: none;
  justify-content: center;
}

.project-detail .nav{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.project-detail a {
  text-decoration: none;
}

.project-detail .nav-tabs .nav-link:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  margin-top: 0.5em;
  transition: width 0.35s;
}

.nav-tabs .nav-link.active:after {
  width: 3em;
}

.project-detail .nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
  color: #fff;
}

.project-detail .nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.project-detail .nav-tabs .nav-link {
  font-weight: 700;
  color: #666;
  border: 1px solid transparent;
}


.project-detail-item{
  display: flex;
  width: 100%;
} 
/* Conteneur principal */
.project-detail-container {
  width: 100%;
  margin: auto;
  color: white;
}

.back-to-project {
  display: block;
  background-color: transparent; /* Fond transparent */
  border: 1px solid white; /* Bordure fine blanche */
  position: sticky; /* Rendre le bouton fixe pendant le scroll */
  top: 12.5vh; /* Maintenir à 20px du haut */
  color: white; /* Texte blanc */
  padding: 1vh 2vw; /* Espacement interne */
  margin-left: 85%; /* Décalage à droite proportionnel */
  border-radius: 5px; /* Coins arrondis */
  text-align: center; /* Centrer le texte */
  cursor: pointer; /* Apparence interactive */
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animation fluide */
  z-index: 1000;
  height: 5vh;
  width: 12.5vw;
  text-decoration: none; /* Enlève le soulignement */
}

/* Effet hover */
.back-to-project:hover {
  transform: translateY(-10px); /* Déplace le bouton vers le haut */
  background-color: rgba(255, 255, 255, 0.1); /* Ajoute une légère couleur au fond */
}





/* Titre */
.project-title {
  font-size: 3rem;
  margin-bottom: 5vh;
  text-transform: uppercase;
}

/* Vidéo */
.project-video {
  width: 60%;
  margin-bottom: 5vh;
}


.project-client {
  color: #FC8412
}

.project-sous-description {
  text-align: left;
}

.recompense-image {
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  overflow: hidden;
}

.add-recompense-image {
  flex: 0 0 33.33%;
  box-sizing: border-box;
}

.add-recompense-image img {
  width: 100%;
  height: auto;
  display: block;
}

.additional_images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10% ; /* Negative margin to compensate for the padding on children */
  width: 100%;
}

.add-additional-image {
  box-sizing: border-box;
  max-height: 50vh;
  overflow: hidden;
}

.add-additional-image img {
  width: 100%;
  display: block;
}


.content-recompense {
  text-align: left;
}
.content-recompense p {
  line-height: 1.6; /* Optionnel pour une meilleure lisibilité */
}

.recompenses h2 {
  font-size: 2rem; /* Ajustez cette valeur selon vos besoins */

}

.recompenses h3 {
  font-size: 1.5rem; /* Ajustez cette valeur selon vos besoins */
  color: #FC8412
}

.add-additional-image {
  box-sizing: border-box;
  position: relative;
}

.add-additional-image:hover {
  cursor: zoom-in;
}

.gallery {
  width: 100%;
}

.recompenses {
  width: 70%;
margin: auto;
}





