/* CSS pour afficher 3 vidéos par ligne sur ordinateur et une par ligne sur mobile */
.main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  width: 100%;
  overflow: hidden;
}

.projet .main-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.projet .video-container {
  position: relative;
  width: 33.3%; /* Calcul de la largeur pour 3 vidéos par ligne sur ordinateur */
  overflow: hidden; /* Pour masquer le contenu débordant */
  margin-bottom: 0; /* Supprimer la marge en bas */
  margin-top: 0;
  height: 38vh; /* Ajustez la hauteur selon vos besoins */
  cursor: pointer;
}

.projet .video-container video,
.projet .video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out; /* Transition douce pour l'opacité */
}

.video-hidden {
  opacity: 0;
  pointer-events: none;
}

.video-visible {
  opacity: 1;
  pointer-events: auto;
}

.img-hidden {
  opacity: 0;
}

.img-visible {
  opacity: 1;
}

/* Styles pour une vidéo par ligne sur mobile */
@media (max-width: 767px) {
  .projet .video-container {
    width: calc(100% - 20px); /* Pleine largeur pour une vidéo par ligne sur mobile */
  }
}

.projet .video-container h1 {
  position: absolute;
  top: 50%; /* Ajustez cette valeur selon vos besoins */
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem; /* Taille de police pour le titre */
  cursor: pointer;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
  font-size: 1.8em;
}

.projet .video-container p {
  position: absolute;
  left: 5%;
  bottom: 2vh;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  font-size: 1em;
}


/* Styles pour une vidéo par ligne sur mobile */
@media (max-width: 767px) {
  .projet .video-container {
    width: 100%; /* Pleine largeur pour une vidéo par ligne sur mobile */
    max-width: 100%; /* Assure que la vidéo occupe tout l'espace disponible */
  }
}

@media (min-width: 1200px) and (max-width: 1441px) {
  .projet .video-container .hover-text {
    bottom: 2vh;
}
.projet .video-container .hover-title {
    top: 3vh;
}
  
}

/* Pour les écrans d'ordinateur de bureau (>= 1200px) */
@media (min-width: 1442px) {
  .projet .video-container .hover-text {
    font-size: 1.2rem; /* Taille de police pour le texte */

      bottom: 2vh;
  }
  .projet .video-container .hover-title {
      bottom: 3vh;
      font-size: 1.4rem; /* Taille de police pour le texte */

  }
}

/* Pour les ordinateurs portables (entre 992px et 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .projet .video-container .hover-text {
      bottom: 2vh;
      font-size: .8rem;

  }
  .projet .video-container .hover-title {
    font-size: 1rem;
    bottom: 3vh;
  }
}

/* Pour les tablettes (entre 768px et 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .projet .video-container .hover-text {
    bottom: 2vh;
    font-size: .4rem;
    }
  .projet .video-container .hover-title {
    font-size: .6rem;
    bottom: 3vh;
      }
}

/* Pour les téléphones (moins de 768px) */
@media (max-width: 768px) { /* Ajuste la largeur selon ton besoin */
  .video-visible,
  .video-hidden {
    all: unset; /* Réinitialise toutes les propriétés */
  }

  .video-container h1 {
    font-weight: bold !important;
    font-family: 'LEMONMILK Medium';
  }

}