.project-detail .nav-tabs {
  margin-top: 2vh;
  border-bottom: none;
  justify-content: center;
}

.project-detail .nav{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.project-detail a {
  text-decoration: none;
}


.project-detail .nav-tabs .nav-link:after {
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  display: block;
  margin-top: 0.5em;
  transition: width 0.35s;
}

.nav-tabs .nav-link.active:after {
  width: 3em;
}

.project-detail .nav-tabs .nav-item.show .nav-link,
.project-detail .nav-tabs .nav-link.active {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
  box-shadow: none !important;
}

.project-detail .nav-tabs .nav-link.active::before,
.project-detail .nav-tabs .nav-link.active::after {
  display: none !important;
}

.project-detail .nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.project-detail .nav-tabs .nav-link {
  font-weight: 700;
  color: #666;
}

.project-detail .nav-tabs .nav-link:hover {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  color: #fff;
}

.project-detail .nav-tabs .nav-link {
  transition: none !important;
}

.project-detail table {
  margin: auto;
  border-collapse: collapse;
}

.credit-people {
  width: 100%;
  display: block;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  line-height: 2vh;
}

.photo-gallery {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Espace entre les lignes */
}

.photo-row {
  display: flex;
  justify-content: center;
  gap: 5px; /* Espace entre les images dans une ligne */
}

.photo-row img {
  width: 35%; /* Chaque image occupe 30% de la largeur pour 3 images */
}

.project-detail iframe {
  max-width: 100%;
  width: 100%;
  height: 60vh;
}

/* @media (max-width: 768px) {
  .project-detail iframe {
    max-width: 100%;
    width: 500px;
    height: 200px;
}
} */

td p {
  font-style: italic;
  margin: 0;
  padding: 0;
  margin-top: 3vh;
  text-align: left;
}

td.title {
  width: 20%;
}

td.description {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .credit-table, .credit-table tbody, .credit-table tr, .credit-table td {
    display: block;
    width: 100%;
  }

  td.title, td.description {
    width: 100%;
  }

  td.title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

