@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.SliderShow {
  overflow: visible; /* Permet à l'élément de ne pas être coupé */
  transform-style: preserve-3d;
  padding-bottom: 4%;
  cursor: pointer;
} 

.SliderShow button {
  background-color: transparent;
}


.slick-list {
  overflow: hidden;
}

.SliderShow .slide {
  position: relative;
  transition: transform 1s; /* Transition fluide pour la rotation */
  opacity: 1; /* Opacité réduite pour les slides non actives */
  /* background-color: blue; */
  border-bottom-width: 2px;
  --border-color: rgb(50, 68, 64);
  --border-left-width: 2px;
  --border-right-width: 2px;
  --border-style: solid;
  --border-top-width: 2px;
  width: 100%;
  opacity: 1;
  border-radius: 16px;
  box-shadow: rgb(44, 59, 56) -4px 4px 8px 0px;


}

.SliderShow .slide img {
  width: 100%; /* Largeur de l'image */
  margin: auto; /* Centrer l'image */
  filter: brightness(50%);  /* Réduit la luminosité de l'image */
  border-width: 2px;
  border-radius: 2%;
  box-shadow: 0 2px 25px rgba(82, 61, 61, 0.3);
}

.SliderShow .activeSlide {
  opacity: 1; /* Rendre la slide active entièrement opaque */
  z-index: 10; /* Placer la slide active devant les autres */
  transform: scale(.9);
}

/* Effet de rotation 3D pour la slide gauche */
.SliderShow .leftSlide {
  flex-shrink: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transform: rotateY(-65deg); Rotation sur l'axe Y pour la slide à droite */
  z-index: 5; /* Z-index plus bas pour les slides à droite */
  opacity: 1; /* Moins opaque que l'élément actif */
  /* border: 2px solid white; Bordure pour la slide droite */
  transform-origin: 100% 50% 0px;
  transform: perspective(1200px) rotateY(30deg) scale(0.7) translateX(-105px); /* Inclinaison suivie d'une réduction d'échelle */  
}

.SliderShow .leftSlide2 {
  /* transform: rotateY(45deg); Rotation sur l'axe Y pour la slide à gauche */
  z-index: 5; /* Z-index plus bas pour les slides à gauche */
  opacity: 1; /* Moins opaque que l'élément actif */
  /* border: 2px solid white; Bordure pour la slide gauche */
    /* transform: rotateY(50deg); */
    transform-origin: 100% 50% 0px;
    transform: perspective(1200px) rotateY(30deg) scale(0.7) translateX(-45px); /* Inclinaison suivie d'une réduction d'échelle */  
  }

/* Effet de rotation 3D pour la slide droite */
.SliderShow .rightSlide {
  flex-shrink: 0;
  user-select: none;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* transform: rotateY(-65deg); Rotation sur l'axe Y pour la slide à droite */
  z-index: 5; /* Z-index plus bas pour les slides à droite */
  opacity: 1; /* Moins opaque que l'élément actif */
  /* border: 2px solid white; Bordure pour la slide droite */
  transform-origin: 0% 50% 0px;
  transform: perspective(1200px) rotateY(-30deg) scale(0.7) translateX(110px); /* Inclinaison suivie d'une réduction d'échelle */
}


.SliderShow .rightSlide2 {
  /* transform: rotateY(-65deg); Rotation sur l'axe Y pour la slide à droite */
  z-index: 5; /* Z-index plus bas pour les slides à droite */
  opacity: 1; /* Moins opaque que l'élément actif */
  /* border: 2px solid white; Bordure pour la slide droite */
  transform-origin: 0% 50% 0px;
  transform: perspective(1200px) rotateY(-30deg) scale(0.7) translateX(35px); /* Inclinaison suivie d'une réduction d'échelle */
}

/* Effet au survol de la flèche (pour naviguer) */
.SliderShow .arrow {
  background-color: black; /* Fond noir */
  position: absolute;
  cursor: pointer;
  z-index: 10;
  font-size: 1.5rem; /* Taille de l'icône de la flèche */
  width: 4.5vw; /* Largeur du cercle */
  height: 9vh; /* Hauteur du cercle */
  border-radius: 50%; /* Pour rendre le fond circulaire */
  color: whitesmoke; /* Couleur de la flèche */
  display: flex; /* Permet de centrer l'icône */
  align-items: center; /* Aligne verticalement */
  justify-content: center; /* Aligne horizontalement */
  transition: background-color 0.3s ease; /* Transition pour l'effet hover */
}

.SliderShow .arrow svg {
  transition: color 300ms;
}


.SliderShow .slide-info {
  position: absolute;
  bottom: 0; /* Positionné par rapport au bas si nécessaire */
  left: 50%; /* Centré horizontalement */
  transform: translate(-50%, 0); /*Ajuste pour centrer horizontalement */
  padding: 10px;
  color: white;
  font-size: 15px;
  text-align: center; /* Alignement centré horizontal */
  transition: transform 0.5s ease-in-out; /* Transition fluide lors du hover */
  width: 100%;
}


.SliderShow .slide:hover .slide-info {
  transform: translateY(-15vh) translateX(-20vw);
}

.SliderShow .slide-info h3 {
  margin: 0;
  font-size: 1.5rem;
}

.SliderShow .slide-info p {
  font-size: 1.0rem;
}

.SliderShow .slider-show-button {
  opacity: 0;
  border: 1px solid white; /* Bordure fine blanche */
  border-radius: 5px; /* Coins arrondis */
  padding: 1vh 2vw; /* Espacement interne */
  text-decoration: none;
  color: white; /* Texte blanc */
}

.SliderShow .slide:hover .slider-show-button {
  opacity: 1; /* Rendre l'ancre visible */
  margin-top: 5px;
}

/* .SliderShow .rightSlide {
  transform: rotateY(-50deg);
} */

/* @media (min-width: 1442px) {

}
*/

@media (min-width: 1200px) and (max-width: 1441px) {
  /* .section-1 {
    height: 110vh;
  } */
  .SliderShow .slide:hover .slide-info {
    transform: translateY(-30vh) translateX(-30vw)
  }

  .SliderShow .activeSlide { 
    transform: scale(.65) translateY(-100px);
  }
  .SliderShow .leftSlide { 
    transform: perspective(1200px) rotateY(30deg) translateX(100px) scale(.6) translateY(-100px);
    }

  .SliderShow .rightSlide {
    transform: perspective(1200px) rotateY(-30deg) translateX(-100px) scale(.6) translateY(-100px);
  }  

}


/* Pour les ordinateurs portables (entre 992px et 1199px) */
/* @media (min-width: 992px) and (max-width: 1199px) {

  .SliderShow .slide:hover .slide-info {
    transform: translateY(-5vh);
  }

  .SliderShow .next {
    right: 17%;
    top: 50%;
    transform: translateY(-50%);

  }

  .SliderShow .prev {
    left: 17%;
    top: 50%;
    transform: translateY(-50%);

  }
} */

/* Pour les tablettes (entre 768px et 991px) */
/* @media (min-width: 768px) and (max-width: 991px) {

  .SliderShow .next {
    right: 0%;
    top: 50%;
    transform: translateY(-50%);

  }

  .SliderShow .prev {
    left: 17%;
    top: 50%;
    transform: translateY(-50%);

  }


} */

/* Pour les téléphones (moins de 768px) */
@media (max-width: 767px) {

  .SliderShow .slide:hover .slide-info {
    transform: translateY(-5vh) translateX(-40vw);
  }

  .SliderShow .slider-show-button {
    opacity: 1;
  }

  .SliderShow .slide:hover .slide-info {
    transform: translateY(0) translateX(0)
  }

}

/* Pour les ecrans (plus de 1441px) */
@media (min-width: 1441px) {

  .SliderShow .slide:hover .slide-info {
    transform: translateY(-20vh) translateX(-19.5vw);
  }

}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: background 0.3s ease;
}

.arrow.prev {
  left: 20%;
}

.arrow.next {
  right: 20%;
}



